{% extends 'shop/base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="card">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#ff4747" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 8l-6 6-3-3 1.41-1.41L11 13.17l4.59-4.59L17 10z"/></svg>
    </div>
    <h1>Лист відправлений!</h1>
    <p>Ми надіслали листа з підтвердженням на ваш email. Будь ласка, перевірте вашу поштову скриньку та дотримуйтесь інструкцій для завершення реєстрації.</p>
    <a href="https://mail.google.com/" class="email-button">Gmail</a>
</div>
{% endblock content %}