{% extends 'shop/base.html' %}
{% block title%} {{ title }} {% endblock title %}
{% block content %}
<div class="profile-container">
    <aside class="sidebar">
        <h2 class="sidebar-title">Профіль</h2>
        <nav class="menu">
            <a href="{% url 'users:orders' %}" data-tag="orders" class="menu-item">Мої замовлення</a>
            <a href="{% url 'users:shipping' %}" data-tag="shipping" class="menu-item">Налаштування доставки</a>
            <a href="{% url 'users:settings' %}" data-tag="settings" class="menu-item">Налаштування профіля</a>
            <a href="{% url 'users:logout' %}" class="menu-item" data-no-ajax="true">Вихід з акаунту</a>
        </nav>
    </aside>

    <main class="profile-content">
        {% include 'users/profile/orders.html' %}
    </main>
</div>
{% endblock content %}