{% load static%}
<div class='footer' id='блок1'>
    <div class="footer-content">
        <div class="footer-column">
            <h3>AEON</h3>
            <ul>
                <li><a href="#">Про нас</a></li>
                <li><a href="{% url 'shop:contact_us' %}">Контакти</a></li>
                <li><a href="#">Бонуси</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>ЗВ'ЯЗОК</h3>
            <ul>
                <li><a class="footer-silent-email">Підтримка клієнтів</span></a></li>
                <li><a href="#">service@aeoncore.ua</a></li>
                <li><a class="footer-silent-email">Комерційні питання</span></a></li>
                <li><a href="#">sales@aeoncore.ua</a></li>
                <li><a class="footer-silent-email">Робота в компанії</span></a></li>
                <li><a href="#">hiring@aeoncore.ua</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Режим роботи</h3>
            <ul>
                <li><a><span class="working-time">Пн-Пт</span>09:00-20:00</a></li>
                <li><a><span class="working-time">Сб-Нд</span>09:00-19:00</a></li>
                <li><a href="telephone"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ff4747"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg><span>+38 (067) 400-08-80</span></a></li>
                <li><a href="telephone"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ff4747"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg><span>+38 (067) 400-08-80</span></a></li>
            </ul>
        </div>

        <div class="footer-column media-column">
            <h3>Наші медіа</h3>
            <ul>
                <li><a><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                <li><a><i class="fa-brands fa-facebook fa-2x"></i></a></li>
                <li><a><i class="fa-brands fa-telegram fa-2x"></i></a></li>
                <li><a><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <p class="rights-reserved-text">© 2024 Aeon. Всі права захищені.</p>
</div>