{% extends 'shop/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title%}
{% block nopadding %}
<div class="about-us about-red">
    <h1>Магазин AEON – ваш надійний провідник у світі сучасної електроніки та новітніх технологій</h1>
</div>

<div class="about-us">
    <img src="{% static 'shop/images/logo_aeon.png' %}" height="333.33" width="878">
</div>

<div class="about-us">
    <p>AEON – це не просто магазин, це команда фахівців, захоплених світом високих технологій. Ми пропонуємо не тільки широкий асортимент електроніки, але й прагнемо стати вашим надійним партнером та консультантом у виборі найкращих рішень для дому, роботи і дозвілля.</p>
    <p>У нашому магазині ви знайдете все необхідне – від смартфонів і ноутбуків до розумних пристроїв для дому та аксесуарів. Кожен товар ретельно відібраний нашими експертами, щоб відповідати найвищим стандартам якості та продуктивності. Ми розуміємо, наскільки важливо сьогодні мати надійну і зручну техніку, тому особливу увагу приділяємо не тільки функціональності та інноваційності, а й простоті використання.</p>
</div>

<div class="about-us about-red">
    <p>Команда AEON завжди готова надати всебічну підтримку – від консультації щодо вибору товару до допомоги у налаштуванні та обслуговуванні. Ми допоможемо кожному клієнту розібратися у світі технологій, зрозуміти їх особливості та обрати саме той продукт, який буде максимально відповідати вашим потребам.</p>
    <p>Купуючи в AEON, ви можете бути впевнені, що отримуєте не лише якісний товар, а й професійний сервіс та підтримку на всіх етапах – від вибору до експлуатації. Ми постійно оновлюємо наш асортимент, слідкуємо за трендами та новинками у сфері електроніки, щоб запропонувати вам найкраще зі світу технологій.</p>
</div>

<div class="about-us">
    <h1>Ласкаво просимо до AEON – вашого надійного партнера у виборі сучасної техніки!</h1>
</div>
{% endblock nopadding %}