{% extends 'shop/base.html' %}
{% load static %}
{% block title %} {{ title }} купити в Запоріжжі{% endblock title%}
{% block content %}
<div class="top-sales category-sales">
    <h1>{{ category_title }}</h1>
</div>

<div class='category-flex'>
    <div class='category-filters'>
        <form method="get" id="sort-form">
            <div class="searchbar category-searchbar">
                {% if not request.GET.search_title %}
                <input type="text" placeholder="{{ category_title }}" name="search_title" id="search_title">
                {% else %}
                <input type="text" placeholder="{{ category_title }}" name="search_title" id="search_title" value="{{ request.GET.search_title }}">
                {% endif %}
            </div>
            <div class='detail-buying filter'>
                <div class="faded-field">
                    <p>Ціна(грн)</p>
                </div>

                <div class="filter-price">
                    <input type="number" id="lp" name="lp" min="0" max="99999" value="{{ request.GET.lp }}"/>
                    <input type="number" id="mp" name="mp" min="1" max="99999" value="{{ request.GET.mp }}"/>
                </div>
            </div>

            <div class='detail-buying filter'>
                <div class="faded-field">
                    <p>Виробник</p>
                </div>

                <div class="filter-price filter-brand" id="brands">
                    {% for brand in first_brand_list %}
                    <div class="manu-filter">
                        <input type="checkbox" name="brand_key" value="{{ brand }}" {% if brand in selected_brands %} checked {% endif %}/>
                        <label for="{{ brand }}">{{ brand }}</label>
                    </div>
                    {% endfor %}
                    
                    {% if show_all_brands %}
                    <div id="more-brands" style="display: block;">
                    {% else %}
                    <div id="more-brands" style="display: none;">
                    {% endif %}
                        {% for brand in remaining_brand_list %}
                        <div class="manu-filter">
                            <input type="checkbox" name="brand_key" value="{{ brand }}" {% if brand in selected_brands %} checked {% endif %}/>
                            <label for="{{ brand }}">{{ brand }}</label>
                        </div>
                        {% endfor %}    
                    </div>

                    {% if not show_all_brands %}
                    <button class="load-more-button" type="button" id="show-more-brands">Показати ще</button>                    {% endif %}
                </div>
            </div>
            <input type="submit" class='auth-button' value="ОК"/>
            <div class="logo-gray">
                <img src="{% static 'shop/images/logo_aeon_gray.png' %}">
            </div>
        </div>
    <div>
        <div class="category-sort-by">
            <p>Виводити</p>
                <select name="sort_option" id="sort_option">
                    <option value="popularity" selected>За популярністю</option>
                    <option value="price">Ціна: за збільшенням</option>
                    <option value="-price">Ціна: за зменшенням</option>
                </select>
            </form>
        </div>

        <div class="most-saled">
            <div class="product-grid category-grid" id="products">
                {% include 'shop/partials/_products.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block navpag %}
{% if page_obj.has_other_pages %}
<nav>
    <ul class='list-pages'>
        {% if page_obj.has_previous %}
        <li>
            <a href='?page={{ page_obj.previous_page_number }}'>&lt;</a>
        </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li class='current-page'> {{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li>
            <a href='?page={{ p }}'>{{ p }}</a>
        </li>
        {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href='?page={{ page_obj.next_page_number }}'>&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}



{% endblock navpag %}

