{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<!-- <div class="ad-banner">
    <img src="ad-banner.png">
</div> -->

<div class="top-sales">
    <p>Великі <span>знижки</span></p>
</div>

<div class="slider-container">
    <div class="slider-track">
      {% for slide in sliding_images %}
        <a class="slide" href="{{ slide.product.get_absolute_url }}"><img src="{{ slide.product.get_first_image.picture.url }}" alt="{{ slide.title }}"></a>
      {% endfor %}
      {% for slide in sliding_images %}
        <a class="slide" href="{{ slide.product.get_absolute_url }}"><img src="{{ slide.product.get_first_image.picture.url }}" alt="{{ slide.title }}"></a>
      {% endfor %}
    </div>
  </div>    


<div class="top-sales">
    <p>Лідери <span>продажу</span></p>
</div>
    
<div class="most-saled">
    <div class="product-grid">
        {% include 'shop/partials/_products.html' %}
    </div>
</div>

<div class="aeon-description">
    <div class="w-2">
        <img src="{% static 'shop/images/logo_aeon.png' %}">
    </div>
    <div class="w-2">
        <h1 class="aeon-description-title"><span class="red-main-color">AEON</span> - технології, що змінюють життя</h1>
        <p class="aeon-description-text">Магазин AEON - ваш надійний партнер у світі електроніки. Наша команда AEON - це експерти в сфері новітніх технологій і гаджетів. Ми з пристрастю підходимо до вибору кожного продукту, щоб забезпечити вам тільки найкраще. Ми не просто продаємо електроніку, а стаємо вашим особистим гідом у світі сучасних технологій, допомагаючи вам знайти саме те, що ви шукаєте і чого дійсно потребуєте.</p>
    </div>
</div>


{% endblock content %}
