{% extends 'shop/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="product-detail">
    <div class="detail-link-path">
        <p> <a href="{% url 'shop:category_list' product.category.slug %}">{{ product.category }}</a> &#x2022; <a href="/{{ product.category.slug }}/?brand_key={{ product.brand }}">{{ product.brand }}</a> &#x2022; <a>{{ product.title }}</a></p>
    </div>
    <p class="detail-title">{{ product.title }}</p>
                        <div class="star-rating detail-rating">
                        <span class="fa fa-star {% if product.average_rating > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 3 %} checked {% endif %}" ></span>
                        <span class="fa fa-star {% if product.average_rating > 4 %} checked {% endif %}"></span>
                        <span></span>
                    </div>
    <div class="characteristics-list">
        <ul>
            <li><a class='a-no-link' href="#chars">Товар</a></li>
            <li><a class='a-no-link' href="#chars">Характеристики</a></li>
        </ul>
        
    </div>
    <div class="detail-halving">
        <div class='w-2'>
            <div class="detail-image">
                <img src="{{ product.image.url }}" width="700" height="700">
            </div>
            
        </div>
    
        <div class='w-2'>
            <div class="detail-buying">
                <div class="detail-color">
                    <span class="color-box" style="background-color: {{ product.color }};"></span>
                </div>
                <div class="product-price detail-price">
                    <p>{{ product.price|intcomma }}<span>₴</span></p>
                    <div class="available">
                        <p>В наявностi</p>
                    </div> 
                </div>
                <div class="star-rating">
                    <ul class="rating-list">
                        <li onclick="rate(5, {{ product.id }})">
                            <i class="fa fa-star {% if rating > 4 %} checked {% endif %}" title="Rate 5"></i></li>
                        <li onclick="rate(4, {{ product.id }})">
                            <i class="fa fa-star {% if rating > 3 %} checked {% endif %}" title="Rate 4"></i></li>
                        <li onclick="rate(3, {{ product.id }})">
                            <i class="fa fa-star {% if rating > 2 %} checked {% endif %}" title="Rate 3"></i></li>
                        <li onclick="rate(2, {{ product.id }})">
                            <i class="fa fa-star {% if rating > 1 %} checked {% endif %}" title="Rate 2"></i></li>
                        <li onclick="rate(1, {{ product.id }})">
                            <i class="fa fa-star {% if rating > 0 %} checked {% endif %}" title="Rate 1"></i></li>
                      </ul>
                </div>

                <button class="red-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/>
                    </svg>
                    Купити
                </button>
                
                
                <button class="red-button white-button" type="button">
                    <a href='{% url "shop:add_to_wishlist" product.id %}' class="button-link">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                            <path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/>
                        </svg>
                        Додати в обране
                    </a>
                </button>
            </div>

            <div class="detail-buying">
                <div class="product-grid small-analog-items">
                    {% for similar in similars %}
                    <div class="product-card small-card">
                        <a class='a-no-link' href='{{ similar.get_absolute_url }}'>
                            <div class="product-image">
                                <img src="{{ similar.image.url }}" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <h2 class="product-title">{{ similar.title }}</h2>
                        </a>
                            <div class="price-and-cart">
                                <p class="product-price">₴{{ similar.price|intcomma }}</p>
                                <div class="small-add-to-cart">
                                    <button type="button" id="add-button" value="{{ similar.id }}" class="add-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="detail-buying">
                <p class="faded-text">Самовивіз</p>
                <ul>
                    <li><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>вул. Незалежної України, 43</a></li>
                </ul>
                <p class="faded-text">Кур'єр</p>
                <ul>
                    <li><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>По мiсту</a></li>                
                </ul>
                <p class="faded-text">Нова пошта</p>
                <ul>
                    <li><a><img src='{% static "shop/images/novaposhta.png" %}' width="24" height="24">Вiддiлення</a></li>                
                    <li><a><img src='{% static "shop/images/novaposhta.png" %}' width="24" height="24">Кур'ер</a></li>                
                </ul>
            </div>
        </div>
    </div>
    <div class="characteristics-title" id="chars">
        <p>Характеристики <span style="font-weight: 600">{{ product.title }}</span></p>
    </div>
    <div class="characteristics-description">
        <p>{{ product.description|safe }}</p>
    </div>
</div>

<script>
    const rate = (rating, product_id) => {
        fetch(`/rate/${product_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();
        })
    }
</script>
{% endblock content %}