{% extends 'shop/base.html' %}
{% load humanize %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="top-sales category-sales">
    <h1>Корзина</h1>
</div>
{% for item in cart %}
{% with product=item.product %}
<div class="wishlist-item">
    <img src="{{ product.get_first_image.picture.url }}" alt="Product Image">
    <div class="wishlist-info">
        <h3>{{ product.title }}</h3>
        <p>{{ product.brand }}</p>
        <div class="qty-container">
            <button class="qty-btn qty-btn-increase" data-product-id="{{ item.product.id }}">+</button>
            <input type="number" id="qtyInput{{ item.product.id }}" value="{{ item.qty }}" min="1" max="100" class="qty-input" oninput="updateCart({{ item.product.id }})">
            <button class="qty-btn qty-btn-decrease" data-product-id="{{ item.product.id }}">-</button>
        </div>
    </div>
    <div class="wishlist-actions">
        <span class="price" id="price-{{ item.product.id }}">₴{{ item.total|intcomma }}</span><br>
        <span class="item-total" id="item-total-{{ item.product.id }}" style="font-size: 0.9em; color: grey;">
            {{ item.qty }} x ₴{{ product.price|intcomma }}
        </span>
    </div>
    <button 
        class="remove-icon"
        id="cart-delete-button"
        type="button"
        data-index="{{ product.id }}"
    >&times;</button>
</div>
{% endwith %}
{% empty %}
<p class="faded-text">Корзина порожня.</p>
{% endfor %}



{% if cart.get_total_price != 0 %}
<div class="top-sales category-sales" id="total">
    <h1>Загальна сума: {{ cart.get_total_price|intcomma }}₴</h1>
</div>

<a href='{% url "payment:checkout" %}' class="email-button checkout-button">До сплати</a>
{% endif %}

{% endblock content %}
