{% extends 'shop/base.html' %}

{% load static %}
{% block content %}

<div class='card new-password-form'>
    <h3>Введіть новий пароль</h3>
    <form method='post' class="form">
        {% csrf_token %}
    
        <div class="reset-elem">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="invalid-feedback">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        
        <div class="reset-elem">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
        </div>

        <div>
            <span class="helptext">
                <ul>
                    <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                    <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                    <li>Пароль не должен быть слишком простым и распространенным.</li>
                    <li>Пароль не может состоять только из цифр.</li>
                </ul>
            </span>
        </div>

        <input type="submit" value="Оновити пароль" class="email-button">
    </form>
</div>


{% endblock content %}