{% extends 'shop/base.html' %}
{% block title %} {{ 'Новий пароль' }} {% endblock title %}
{% load static %}
{% block content %}

<div class='card new-password-form'>
    <h3>Введіть новий пароль</h3>
    <form method='post' class="form">
        {% csrf_token %}
    
        <div class="reset-elem">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="invalid-feedback">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}
        </div>
        
        <div class="reset-elem">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
        </div>

        <div>
            <span class="helptext">
                <ul>
                    <li>Пароль не повинен бути занадто схожим на іншу вашу особисту інформацію.</li>
                    <li>Ваш пароль має містити щонайменше 8 символів.</li>
                    <li>Пароль не повинен бути надто простим і поширеним.</li>
                    <li>Пароль не може складатися лише з цифр.</li>
                </ul>
            </span>
        </div>

        <input type="submit" value="Оновити пароль" class="email-button">
    </form>
</div>


{% endblock content %}