{% extends 'shop/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title%}
{% block nopadding %}
<div class="about-us about-red">
    <h1>Магазин AEON – ваш надійний провідник у світі сучасної електроніки та новітніх технологій</h1>
</div>

<div class="about-us">
    <img src="{% static 'shop/images/logo_aeon.png' %}" height="333.33" width="878">
</div>

<div class="about-us">
    <p>AEON – це не просто магазин, це команда фахівців, захоплених світом високих технологій. Ми пропонуємо не тільки широкий асортимент електроніки, але й прагнемо стати вашим надійним партнером та консультантом у виборі найкращих рішень для дому, роботи і дозвілля.</p>
    <p>У нашому магазині ви знайдете все необхідне – від смартфонів і ноутбуків до розумних пристроїв для дому та аксесуарів. Кожен товар ретельно відібраний нашими експертами, щоб відповідати найвищим стандартам якості та продуктивності. Ми розуміємо, наскільки важливо сьогодні мати надійну і зручну техніку, тому особливу увагу приділяємо не тільки функціональності та інноваційності, а й простоті використання.</p>
    <p>AEON – це не просто магазин електроніки, це справжній центр інновацій та високих технологій, де кожен знайде саме те, що шукає. Ми не лише продаємо електронні пристрої, а й створюємо екосистему, що допомагає вам орієнтуватися у світі технічних новинок, робить ваше життя комфортнішим, а роботу продуктивнішою. Наша мета – стати вашим надійним партнером у виборі електроніки для дому, офісу та дозвілля, щоб ви завжди могли покластися на якість і надійність наших продуктів та послуг.</p>
    <p>У магазині AEON ми пропонуємо широкий вибір товарів для кожного – від смартфонів, ноутбуків, планшетів до інтелектуальних пристроїв для дому, гаджетів для активного відпочинку та безлічі аксесуарів, які зроблять ваше використання техніки зручнішим і більш ефективним. Наші експерти постійно працюють над тим, щоб кожен продукт у нашому асортименті відповідав найвищим стандартам якості, був інноваційним і функціональним, а головне – легким у використанні. Ми віримо, що технології повинні працювати на вас, полегшуючи ваше повсякденне життя, а не ставати джерелом стресу чи складнощів.</p>
    <p>Наша команда – це група професіоналів з глибоким розумінням кожної категорії продукції, яку ми пропонуємо. Ми не просто продаємо техніку, ми допомагаємо нашим клієнтам зрозуміти, як вона працює, та знайти найбільш підходяще рішення для їхніх індивідуальних потреб. Наша підтримка включає консультації з вибору, порівняння різних моделей, а також рекомендації щодо того, який пристрій буде оптимальним для ваших задач. Ми прагнемо до того, щоб кожен клієнт відчував, що його вибір не є випадковим, а обґрунтованим, з усією інформацією, що необхідна для ухвалення правильного рішення.</p>
    <p>Однією з наших головних переваг є не лише широкий асортимент продукції, але й постійне оновлення та поповнення асортименту. Ми слідкуємо за останніми тенденціями у світі електроніки та технологій, щоб ви завжди могли отримати найсучасніші рішення, які підвищать ваш комфорт і продуктивність. Від новітніх смартфонів, які допомагають залишатися на зв’язку з близькими і колегами, до високопродуктивних ноутбуків, які здатні забезпечити бездоганну роботу в найскладніших умовах – у нас є все.</p>
    <p>Що важливо, ми не тільки продаємо електроніку, але й надаємо всебічну підтримку наших клієнтів. Це означає, що кожен покупець може звернутися до нас за допомогою не лише під час покупки, а й після неї. Ми пропонуємо послуги з налаштування та обслуговування продукції, що дає змогу максимально ефективно використовувати ваші пристрої та зберігати їх працездатність на тривалий період. У нашому магазині ви отримуєте не лише продукт, а й повну підтримку на кожному етапі його експлуатації.</p>
    <p>AEON – це місце, де технології стають частиною вашого життя. Завдяки нашій кваліфікованій команді, ми допоможемо вам швидко та легко знайти те, що вам потрібно. Ви можете бути впевнені, що кожен товар, придбаний у нашому магазині, не лише відповідає всім стандартам якості, а й гарантовано допоможе вам бути на крок попереду в технологічному світі.</p>
</div>



<div class="about-us">
    <h1>Ласкаво просимо до AEON – вашого надійного партнера у виборі сучасної техніки!</h1>
</div>
{% endblock nopadding %}